name: test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          wget http://launchpadlibrarian.net/646633572/libaio1_0.3.113-4_amd64.deb
          sudo dpkg -i libaio1_0.3.113-4_amd64.deb

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Download Oracle Instant Client
        run: |
          wget https://download.oracle.com/otn_software/linux/instantclient/instantclient-basic-linuxx64.zip
          unzip instantclient-basic-linuxx64.zip

      - name: Set up Oracle Instant Client
        run: |
          sudo mkdir -p /opt/oracle/instantclient_23_6
          sudo mv instantclient*/* /opt/oracle/instantclient_23_6/
          sudo sh -c "echo /opt/oracle/instantclient_23_6 > /etc/ld.so.conf.d/oracle-instantclient.conf"
          sudo ldconfig

      - name: Run Tests
        env:
          LD_LIBRARY_PATH: /opt/oracle/instantclient_23_6:$LD_LIBRARY_PATH
          ORACLE_URL: user="SYSTEM" password="password" connectString="localhost:1521/FREEPDB1" libDir="/opt/oracle/instantclient_23_6"
        run: make test GOTEST_FLAGS="-v -count=1"
